body {
  //background-image: url("broznoi.webp");
  //background-color: powderblue;
  background-color: gray;
}
H1 {
	//border: 2px dashed black;
	//font-family: "Comic Sans Ms";
	font-family: "Verdana";
	color: black;
	font-size: 50px;
}

P{
	font-family: "Verdana";
	color: black;
	font-size: 25px;
}

#funny {
  position: absolute;
}
#fish {
  position: absolute;
}
#hole {
  position: absolute;
  z-index: -1;
}

.center {
  margin: auto;
  width: 60%;
  text-align: center;
}